.btn {
  cursor: pointer;
  
  padding: 1rem 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  
  border: 0.125rem solid #fff;
  border-radius: 5rem;
  color: var(--color-primary);
  background: unset;
  
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s all ease;
}

.btn--slide {
  position: absolute;
  align-self: center;

  max-width: fit-content;

  left: 33vw;
  top: 80vh;
}

@media screen and (min-width: 1280px) {
  .btn--slide {
    left: 49vw;
  }
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--institutional,
.btn--contact {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: #fff;
}

/* mobile */
.btn--institutional,
.btn--quote {
  display: block;
  margin: 0 auto;
}

/* desktop */
@media screen and (min-width: 1280px) {
  .btn--institutional,
  .btn--quote {
    display: inline;
  }
}

.btn--institutional:hover,
.btn--contact:hover {
  color: var(--color-copy);
  background: unset;
  box-shadow: 0 1rem 1rem #0006;
}

.btn--contact:hover {
  color: #fff;
}

.btn--quote {
  color: var(--color-copy);
  border-color: var(--color-copy);
  background: unset;
}

.btn--events {
  float: right;
}
