.slider {
  background-color: #000;
  color: #fff;
}

.slider__prev-arrow,
.slider__next-arrow {
  width: 2.5rem;
  height: 2.5rem;
  border: 5px solid #fff;
  border-right: unset;
  border-bottom: unset;
  opacity: 0.9;
}

.slider__prev-arrow {
  z-index: 1;
  left: 1rem;
  transform: rotate(-45deg);
}

.slider__next-arrow {
  z-index: 1;
  right: 1rem;
  transform: rotate(135deg);
}

.slider__prev-arrow::before,
.slider__next-arrow::before {
  content: "";
}

#slider h6 {
  margin: 0;
}

.slide {
  position: relative;
  height: 90vh;
}

.slide__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide__copy {
  position: absolute;
  left: 50vw;
  top: 6.25rem;
}

.slide__copy h6 {
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
}

.slide__copy h2 {
  font-size: 6.25rem;
  text-transform: uppercase;
  line-height: 6.25rem;
}

.slide__copy h2 span {
  display: block;
}

#counter {
  background-color: var(--color-primary);
  color: #fff;
  text-transform: uppercase;
}

/* desktop */
.counter__container {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  padding: 4.375rem 1rem;
}

/* desktop */
@media screen and (min-width: 1280px) {
  .counter__container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.counter__container h3 {
  font-size: 2.1875rem;
}

.counter__container h3 small {
  display: block;
  font-size: 1.25rem;
}

/* Mobile */
.institutional {
  display: grid;
  grid-template-rows: auto auto;
  gap: 3.125rem;
  align-items: center;
  padding: 0 0 4.375rem 0;
}

/* desktop */
@media screen and (min-width: 1280px) {
  .institutional {
    grid-template-columns: auto auto;
    padding: 4.375rem;
  }
}

.institutional__image {
  max-width: 550px;
}

/* mobile */
.institutional__copy {
  padding: 0 0 1.875rem 0;
}

/* desktop */
@media screen and (min-width: 1280px) {
  .institutional__copy {
    padding: 0 1.875rem;
  }
}

.institutional__copy h6 {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.institutional__copy h4 {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.institutional p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  line-height: 1.68rem;
  margin-bottom: 1.4rem;
}

.quote {
  background-image: url(../images/parallax.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.quote__container {
  min-height: 80vh;
  display: grid;
  align-items: center;
  justify-items: end;
}

.quote__copy {
  background-color: #fff;
  padding: 5.625rem 4.375rem;
}

.quote__copy h6 {
  font-weight: 400;
  font-size: 0.9375rem;
  letter-spacing: 0.1875rem;
  line-height: 1.4375rem;
  max-width: 53ch;
  text-transform: uppercase;
  margin: 0;
}

.quote__copy h2 {
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
  letter-spacing: -0.1875rem;
  margin: 1.875rem 0;
}

.quote__copy h2 span {
  display: block;
}
