@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --color-copy: #333;
    --color-primary: #ffc500;
    --default-padding: 1rem;
    color: var(--color-copy);
}

body {
    margin: 0;
    padding-top: 7.75rem;
}

header,
main,
footer {
    overflow-x: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.navbar__container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    
    width: 100vw;
    padding: 0 1rem;
    height: 7.75rem;
    
    background-color: black;
    color: white;
}

.navbar__links {
    justify-self: end;
}

.navbar__links li {
    font-size: 0.875rem;
    margin-right: 3rem;
    text-transform: uppercase;
}

.navbar__links a {
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.navbar__links a:hover {
    color: var(--color-primary);
}

.logo-studion {
    font-size: 2.375rem;
    font-weight: 900;
    line-height: 1ch;
    text-transform: uppercase;
    text-align: right;
}

.logo-studion__subtitle {
    font-size: .875rem;
    font-weight: 300;
    float: right;
}

.logo-studion a {
    text-decoration: none;
    color: #fff;
}

.copy--primary {
    color: var(--color-primary);
}

#slider {
    background-color: #000;
    color: #fff;
}

#slider h6 {
    margin: 0;
}

.slide {
    position: relative;
    height: calc(100vh - 7.75rem);
}

.slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide__copy {
    position: absolute;
    left: 50vw;
    top: 6.25rem;
}

.slide__copy h6 {
    font-size: .9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1875rem;
}

.slide__copy h2 {
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
}

.slide__copy h2 span {
    display: block;
}

.btn {
    cursor: pointer;
    padding: 1rem 2.5rem;
    border: .125rem solid #fff;
    border-radius: 5rem;
    color: var(--color-primary);
    background: unset;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s all ease;
}

.btn:hover, 
.btn:active, 
.btn:focus,
.btn--institutional {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;
}

#counter {
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
}

.counter__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    padding: 4.375rem 1rem;
}

.counter__container h3 {
    font-size: 2.1875rem;
}

.counter__container h3 small {
    display: block;
    font-size: 1.25rem;
}

.institutional {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.125rem;
    align-items: center;
    padding: 4.375rem;
}

.institutional__image {
    max-width: 550px;
}

.institutional__copy {
    padding: 0 1.875rem;
}

.institutional__copy h6 {
    margin: 0;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.institutional__copy h4 {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.institutional p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    line-height: 1.68rem;
    margin-bottom: 1.4rem;
}

.btn--institutional:hover {
    color: var(--color-copy);
    background: unset;
    box-shadow: 0 1rem 1rem #0006;
}

.quote {
    background-image: url(../images/parallax.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quote__container{
    min-height: 80vh;
    display: grid;
    align-items: center;
    justify-items: end;
}

.quote__copy {
    background-color: #fff;
    padding: 5.625rem 4.375rem;
}

.quote__copy h6 {
    font-weight: 400;
    font-size: .9375rem;
    letter-spacing: .1875rem;
    line-height: 1.4375rem;
    max-width: 53ch;
    text-transform: uppercase;
    margin: 0;
}

.quote__copy h2 {
    font-size: 5rem;
    line-height: 5rem;
    text-transform: uppercase;
    letter-spacing: -.1875rem;
    margin: 1.875rem 0;

}

.quote__copy h2 span {
    display: block;
}

.btn--quote{
    color: var(--color-copy);
    border-color: var(--color-copy);
    background: unset;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 0 1rem;
    text-align: center;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    border-bottom: 0.1rem solid #fff3;
    padding: 5rem 0;
}

.footer.logo-studion {
    justify-self: start;
    margin: 0;
}

.logo-studion__subtitle {
    display: block;
}

.footer__form {
    justify-self: center;

    display: grid;
    place-items: center;
    grid-template-columns: 5.7rem auto;
    gap: 1.375rem;
}

.footer__form label {
    font-size: .875rem;
    font-weight: 300;
    line-height: 1rem;
}

.footer__form__email {
    display: grid;
    grid-template-columns: auto 3.375rem;
    width: 100%;
}


.footer__form input {
    background-color: var(--color-primary);
    border: unset;
    height: 2.875rem;
    padding: 1rem;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.footer__form input::placeholder {
    color: #000;
}

.footer__form input:focus {
    outline: none;
}

.footer__form button {
    cursor: pointer;
    border: unset;
    height: 100%;
    transition: 0.3s all ease;
}

.footer__form button:hover {
    color: #fff;
    background-color: var(--color-copy);

}

.footer__social {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: .5rem;
    justify-self: end;
}

.footer__social a,
.footer__social a:visited,
.footer__social a:active {
    color: #fff;
    margin-left: .2rem;
}

.footer__social .fa-twitter {
    color: #000;
}

.footer p {
    text-align: center;
    font-weight: 300;
    font-size: .875rem;
    margin: 2.5rem 0;
}
